---
import BaseHead from "../components/BaseHead.astro";
import LandingHeader from "../components/LandingHeader.astro";
import Footer from "../components/Footer.astro";
import UXIcon from "../assets/ux_ui_icon.svg";
import WebAppIcon from "../assets/web_app_mobile_icon.svg";
import DesignIcon from "../assets/design_icon.svg";
import DevelopmentIcon from "../assets/development_icon.svg";
import ClientKuhi from "../assets/kuhi_logo.png";
import ClientDoza from "../assets/doza-logotipo-completo.png";
import "../styles/landing.scss";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <LandingHeader />
    <main style="text-align: center;">
      <div class="services">
        <div>
          <img src={UXIcon} alt="" title="UX / UI" />
          <h3>UX / UI</h3>
          <p>
            Diseñamos interfaces que son intuitivas, eficientes y faciles de
            usar.
          </p>
        </div>
        <div>
          <img src={WebAppIcon} alt="" title="UX / UI" />
          <h3>Web y Mobile App</h3>
          <p>
            Transformamos las ideas en experiencias web y aplicaciones móviles
            excepcionales.
          </p>
        </div>
        <div>
          <img src={DesignIcon} alt="" title="UX / UI" />
          <h3>Diseño</h3>
          <p>
            Creamos diseños visualmente impresionantes que se conectan con su
            audiencia.
          </p>
        </div>
        <div>
          <img src={DevelopmentIcon} alt="" title="UX / UI" />
          <h3>Desarrollo</h3>
          <p>
            Damos vida a su visión con la última tecnología y tendencias de
            diseño.
          </p>
        </div>
      </div>
      <div class="clients">
        <h2>Ellos ya confiaron en nosotros</h2>
        <div class="clients_list">
          <a href="http://alimentoskuhi.com.mx/" target="_blank">
            <img src={ClientKuhi} alt="Alimentos Kuhi" />
          </a>
          <a href="https://resistenciasytermopares.com/" target="_blank">
            <img src={ClientDoza} alt="Doza Resistencias y Termopares" />
          </a>
        </div>
      </div>
    </main>
    <Footer />
  </body>
</html>
